In [1]:
import numpy as np 

import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
dframe = DataFrame(randn(25).reshape(5, 5), index=['A', 'B', 'D', 'E', 'F'], 
columns=['col1', 'col2', 'col3', 'col4', 'col5'])

dframe

       col1      col2      col3      col4      col5
A -0.014875 -0.605023  0.714337 -0.309280 -2.426856
B  0.211387  1.120963 -0.390623 -1.233870  0.544658
D -0.334729  2.024222 -0.806803 -0.441523  1.309338
E -0.014931 -0.902659 -0.038413 -0.871600  1.041521
F -1.131583 -0.804178  0.706944 -0.544903  0.357965

In [24]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [25]:
dframe2

       col1      col2      col3      col4      col5
A -0.014875 -0.605023  0.714337 -0.309280 -2.426856
B  0.211387  1.120963 -0.390623 -1.233870  0.544658
C       NaN       NaN       NaN       NaN       NaN
D -0.334729  2.024222 -0.806803 -0.441523  1.309338
E -0.014931 -0.902659 -0.038413 -0.871600  1.041521
F -1.131583 -0.804178  0.706944 -0.544903  0.357965

In [26]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [27]:
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [28]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.014875 -0.605023  0.714337 -0.309280 -2.426856   NaN
B  0.211387  1.120963 -0.390623 -1.233870  0.544658   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.334729  2.024222 -0.806803 -0.441523  1.309338   NaN
E -0.014931 -0.902659 -0.038413 -0.871600  1.041521   NaN
F -1.131583 -0.804178  0.706944 -0.544903  0.357965   NaN

In [29]:
dframe

       col1      col2      col3      col4      col5
A -0.014875 -0.605023  0.714337 -0.309280 -2.426856
B  0.211387  1.120963 -0.390623 -1.233870  0.544658
D -0.334729  2.024222 -0.806803 -0.441523  1.309338
E -0.014931 -0.902659 -0.038413 -0.871600  1.041521
F -1.131583 -0.804178  0.706944 -0.544903  0.357965

In [36]:
dframe.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'], columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.014875 -0.605023  0.714337 -0.309280 -2.426856   NaN
B  0.211387  1.120963 -0.390623 -1.233870  0.544658   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.334729  2.024222 -0.806803 -0.441523  1.309338   NaN
E -0.014931 -0.902659 -0.038413 -0.871600  1.041521   NaN
F -1.131583 -0.804178  0.706944 -0.544903  0.357965   NaN